@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #fbf2c0;
}

header .cabecalho {
  background-color: #cc2936;
  max-width: 100%;
  height: 52px;
}

@media (max-width: 800px) {
  .cabecalho {
    min-width: 200px;
  }
}

header .cabecalho .cabecalho-texto {
  color: #fbf2c0;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  padding: 16px 0 16px 0;
}

@media (max-width: 900px) {
  header .cabecalho .cabecalho-texto {
    font-size: 12px;
  }
  .img-logo {
    width: 200px;
  }
}

/*-----------------Cabeçalho do menu----------------------*/
header .cabecalho-menu {
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

header #nav-lista {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 100px;
  gap: 100px; /*medida espaço entre lista produto cabeçalho*/
}

header #nav-lista a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

/*-----------------botão do menu----------------------*/
header #btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  header #btn-mobile {
    display: block;
  }
}

@media (max-width: 915px) {
  header #nav-lista {
    display: none;
  }
}
header .menu-hamburguer {
  display: none;
}

@media (max-width: 915px) {
  header .menu-hamburguer {
    display: block;
    margin: 16px;
  }
}

header #nav-lista .nav-item a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #48392a;
}

header .btn-itens {
  margin-left: 20px;
}

header .btn-item {
  width: 280px;
  height: 36px;
  background-color: #cc2936;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  margin-left: 63px;
}

header .btn-item a {
  color: #fbf2c0;
  text-decoration: none;
}

.btn-item:hover {
  background-color: #48392a;
}

header .img-cesta {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: auto;
  gap: 10px;
}

@media (max-width: 900px) {
  header .img-cesta {
    display: none;
  }
}

header .itens {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

header .precoEitem {
  flex-direction: column;
}

header {
  color: #cc2936;
  font-size: 20px;
  font-weight: 400;
}

/*------------------Plano de assinatura----------------------*/

main .titulo-plano {
  background-color: #cc2936;
  align-items: center;
  width: 100%;
  height: 87px;
}

main .titulo-plano {
  color: #fbf2c0;
  font-size: 45px;
  font-weight: 800;
  word-wrap: break-word;
  text-align: center;
  padding: 16px 0 16px 0;
}

@media (max-width: 900px) {
  main .titulo-plano {
    font-size: 20px;
  }
}

main .banner-plano-produto {
  display: flex;
  flex-direction: row;
  margin: 128px;
  padding: 30px;
  gap: 28px;
}

@media (max-width: 1228px) {
  main .banner-plano-produto {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

main .plano-01 {
  width: 478px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px #cc2936 solid;
  border-radius: 30px;
  background-color: white;
  padding: 30px;
}

@media (max-width: 1228px) {
  main .plano-01 {
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
}

main .quero-pao {
  color: #cc2936;
  font-size: 20px;
  font-weight: 400;
}

main .semana {
  color: #cc2936;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 57px;
}

main .apartir {
  color: #48392a;
  font-size: 20px;
  font-weight: 400;
}

main .preco {
  color: #48392a;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 21px;
}

main .btn-conhecer {
  width: 143px;
  height: 48px;
  background-color: #cc2936;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #fbf2c0;
}

/*-----------------Pães Delivery-----------------*/

main .titulo-pao-delivery {
  background-color: #cc2936;
  width: 100%;
  height: 87px;
  color: #fbf2c0;
  font-size: 45px;
  font-weight: 800;
  word-wrap: break-word;
  text-align: center;
  padding: 16px 0 16px 0;
}

@media (max-width: 720px) {
  main .titulo-pao-delivery {
    font-size: 20px;
  }
}

/*------------delivery-banner-produto--------------*/
main .banner-delivery-produto {
  display: flex;
  flex-direction: row;
  margin: 128px;
  gap: 28px;
}

@media (max-width: 1228px) {
  main .banner-delivery-produto {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/*----------------delivery-banner-produto--------------------- */
main .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px #cc2936 solid;
  border-radius: 30px;
  background-color: white;
  margin: 15px 15px 18px 15px;
}

@media (max-width: 1228px) {
  main .container {
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 16px;
  }
}

main .produto-pao {
  color: #48392a;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 18px;
}

main .quantidade {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

main .qtd-produto {
  width: 70px;
  font-size: 20px;
  font-weight: 800;
  color: #cc2936;
}

.btn-adicionar-01 {
  display: flex;
  gap: 10px;
}

main .btn-adicionar {
  width: 150px;
  height: 40px;
  background-color: #cc2936;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #fbf2c0;
  margin: 15px 0 30px 0;
}

main .img-produto {
  width: 100%;
  padding: 15px 15px 18px 15px;
}

/*---------------- congelados-banner-produto----------- */
main .congelado-banner-produto {
  display: flex;
  flex-direction: row;
  margin: 128px;
  gap: 28px;
}

@media (max-width: 1228px) {
  main .congelado-banner-produto {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/*--------------Rodapé-------------------*/
footer .rodape-01 {
  width: 100%;
  height: 258px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #48392a;
  gap: 74px;
}

@media (max-width: 1228px) {
  footer .rodape-01 {
    display: block;
    align-items: center;
    height: auto;
  }
}

footer .rodape-item {
  color: #fbf2c0;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
}

@media (max-width: 1228px) {
  footer .rodape-item {
    font-size: 10px;
  }
}

footer .img-rodape {
  position: absolute;
  left: 950px;
  margin-bottom: 375px;
}

@media (max-width: 1228px) {
  footer .img-rodape {
    display: none;
  }
}

/*------------------ style contatos----------------------------*/

#inicio-contato {
  margin-left: 243px;
  margin-right: 226px;
  padding: 1em;
}

main .titulo-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  padding: 20px;
  margin-right: 225px;
  font-size: 24px;
  /* word-wrap: break-word; */
}

@media (max-width: 800px) {
  main .titulo-p {
    align-items: center;
    font-size: 14px;
    margin-left: -237px;
  }
  main .titulo-pr {
    display: none;
  }
}

main .menu-rede {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: -1px;
  margin-right: -226px;
  gap: 10px;
  font-size: 24px;
  /* word-wrap: break-word; */
}

@media (max-width: 800px) {
  main .menu-rede {
    margin-left: -247px;
  }
  main .subtitulo {
    display: none;
  }
}

main .img-contato {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 600px;
}

@media (max-width: 1600px) {
  main .img-contato {
    width: 10px;
    height: 10px;
  }
}

main .contato {
  display: flex;
  justify-content: end;
  margin-top: 100px;
  margin-right: 61px;
  font-size: 24px;
}

@media (max-width: 1080px) {
  main .contato {
    display: none;
  }
}
/*------------------ formulario-do-contato ----------------*/

.contato-form {
  padding: 30px 10px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 15px; */
  max-width: 30vw;
  margin-top: -147px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {
  .contato-form {
    min-width: 85vw;
    margin-left: -232px;
    margin-top: 50px;
  }
}

fieldset {
  border: none;
}

fieldset:nth-child(5) {
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px;
}

.container-cont .campo-input {
  margin: 10px 10px;
  align-items: center;
  width: calc(100% - 20px);
  height: 40px;
  background-color: #eee3e3;
  border: none;
  border-radius: 4px;
  color: #48392a;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
}

#msg {
  margin: 10px 10px;
  width: calc(100% - 20px);
  height: 80px;
  background-color: #eee3e3;
  border: none;
  border-radius: 4px;
  color: #48392a;
  font-size: 20px;
  padding: 14px 10px 0 10px;
}

.container-cont .campo-label {
  font-size: 20px;
  font-weight: 400;
  color: #48392a;
  top: 10px;
  left: 20px;
}

main .botao-cont {
  width: 110px;
  height: 36px;
  background-color: #cc2936;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #fbf2c0;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

main .botao-cont:hover {
  opacity: 0.85;
}

/*---------------- Estilos-Dinâmicos ------------------*/

.campo-input.error {
  border: solid 2px #cc2936;
  background-color: #ccbbbb;
  color: #662020;
}

input.camp-input.error {
  border: solid 2px #cc2936;
  background-color: #ccbbbb;
  color: #662020;
}
.mensagem.error {
  border: solid 2px #cc2936;
  background-color: #ccbbbb;
  color: #662020;
}
.campo-input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

input.camp-input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

.mensagem.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

/*mensagem de erro*/
.helper-text {
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #662020;
}

.visible {
  display: block;
  margin-bottom: 20px;
}

/*---------------- Cadastro/Login ------------------*/
#login-cadastro {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 200px;
}

@media only screen and (max-width: 800px) {
  #login-cadastro {
    margin-top: 30px 0 30px 0;
    /* min-width: 85vw; */
    flex-direction: column;
    gap: 100px;
  }

  #entrada {
    max-width: 85vw;
  }

  form {
    width: 100%;
  }

  .grupo:nth-child(2),
  .grupo:nth-child(4),
  .grupo:nth-child(5) {
    flex-direction: column;
  }

  .grupo:nth-child(4) {
    padding: 0;
  }
}

main .titulo-entra {
  font-size: 24px;
  font-weight: 800;
  color: #48392a;
  padding: 10px;
  align-items: end;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .titulo-entra {
    font-size: 14px;
  }
}

main #entrada {
  background-color: white;
  padding: 30px 10px;
  border-radius: 20px;
  /* box-shadow: 5px 5px 15px; */
  width: 500px;
}

.grupo:nth-child(2) {
  display: flex;
}
.grupo:nth-child(4) {
  display: flex;
}
.grupo:nth-child(5) {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
}

.container-cadastro .camp-input {
  margin: 10px 2px;
  width: 500px;
  height: 40px;
  border: none;
  background-color: #eee3e3;
  border-radius: 4px;
  color: #48392a;
  font-size: 20px;
  font-weight: 400;
  padding: 14px;
}

@media (max-width: 800px) {
  .container-cadastro .camp-input {
    width: 250px;
  }

  .container-cadastro .camp-labe {
    font-size: 14px;
  }
}

.container-cadastro .camp-label {
  font-size: 20px;
  font-weight: 400;
  color: #48392a;
}

#check .cam-input {
  margin-top: 10px;
  color: #eee3e3;
  transition: 0.5s;
}

/*---------------- Sobre ------------------*/

article .titulo-sobre {
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  max-width: 500px;
}

article .sobre {
  display: flex;
  justify-content: center;
  margin: 93px 126px 100px 130px;
  gap: 54px;
}
@media (max-width: 800px) {
  /* main .sobre {
    flex-direction: row;
  } */
  .texto {
    flex-direction: row;
    font-size: 12px;
    align-items: center;
  }
  article .sobre-img .img-padeiro {
    display: none;
  }
}

article .texto .textoone {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 30px;
  width: 300px;
  margin-bottom: 38px;
}

article .sobre-img .img-padeiro {
  width: 343px;
  height: 1113px;
}

/*---------------- index ------------------*/
/*---------------HOME------------------*/
/*-----------Botões -HOME -------------*/
/* .botoes-home {
  position: absolute;
  display: inline;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px;
  border: none;
} */

.banner2-home-elementos {
  position: relative;
  height: 100%;
  text-align: center;
}

.botoes-home a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 10px;
  border: none;
  text-decoration: none;
  background-color: #cc2936;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fbf2c0;
}
/*-----------Botões -HOME- conheça historia -------------*/
.conheca-historia {
  position: relative;
  height: 50%;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.botoes-home a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 10px;
  border: none;
  text-decoration: none;
  background-color: #cc2936;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 400;
  color: #fbf2c0;
}
.botoes-home a:hover {
  color: #cc2936;
  background-color: #fbf2c0;
  text-decoration: none;
  font-weight: 500;
}
/*---------- Banner 1 - HOME ------------*/
.banner-img {
  display: flex;
  justify-content: center;
  background-color: #cc2936;
  width: 100% auto;
  height: auto;
  padding: 5px 5px;
  margin: 0 auto;
}

.img-banner {
  width: 100%;
}

/*---------- Banner 2 - HOME ------------*/
.banner2-home {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100% auto;
  height: 470px;
  padding: 20px;
}

.banner2-home-elementos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  gap: 30px;
}

/*---------- Banner 3 - HOME ------------*/

.banner-para-empresa {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #48392a;
  align-items: center;
  background-color: #fbf2c0;
  height: 380px;
}

.link-sua-empresa {
  color: #cc2936;
  margin: 10px;
}

/*---------- Banner 4 (último) - HOME ------------*/

.conheca-historia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 0%;
}

#botao-conheca {
  align-self: flex-start;
  /* margin: 130px; */
}

.img-final {
  width: 100vw;
  height: 465px;
}
